.navbar{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:25px 35px;

    background:var(--surface);

    border-bottom:1px solid var(--border);

}

.navbar-right{

    display:flex;

    align-items:center;

    gap:18px;

}

.search-box{

    display:flex;

    align-items:center;

    gap:10px;

    background:var(--background);

    border-radius:14px;

    padding:10px 18px;

}

.search-box input{

    background:none;

}

.theme-btn,
.notification-btn{

    width:46px;

    height:46px;

    border-radius:50%;

    background:var(--background);

}

.profile{

    display:flex;

    align-items:center;

    gap:12px;

}

.avatar{

    width:46px;

    height:46px;

    border-radius:50%;

    background:var(--primary);

    color:white;

    display:flex;

    justify-content:center;

    align-items:center;

    font-weight:bold;

}

.profile p{

    color:var(--text-light);

    font-size:.85rem;

}